<div id='content'>
  <div id='abingo_dashboard'>
    <ul>
      <% @experiments.each do |experiment| %>
        <li><%= render :partial => 'dashboard/experiment', :locals => {:experiment => experiment} %></li>
      <% end %>
    </ul>
  </div>
</div>